body
{
 font-family: lucida grande ,tahoma,verdana,ariel, sans-serif;
 background-image: url("");
 background-color: #e1edf7;
 
}

body p
{
font-size: 1.8em;
line-height: 1.30;
    
}

#wrapper
{
 
    
}

#banner
{
    
  
}

#content_area
{
    
    
    
}

#sidebar
{
    
    
}

footer
{
    
    
}



    
